PyGithub==2.7.0
PyYAML>=6.0.1
TTS==0.22.0
discord.py==2.6.0
faster-whisper
gnupg==2.3.1
kizano==1.0.6
langchain-community==0.2.15
langchain-core==0.2.37
langchain-ollama==0.1.3
langchain-postgres==0.0.9
langchain-text-splitters==0.2.2
langchain==0.2.15
numba==0.60.0
openai-whisper==20250625
openai==1.99.9
openwebui-client==0.3.2
pasimple==0.0.3
psycopg2==2.9.10
python-dotenv==1.1.1
python-ffmpeg==2.0.12
requests==2.32.3
slack_bolt==1.23.0
slack_sdk==3.36.0
unstructured==0.16.11
atlassian-python-api==4.0.4
